In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (9.4.0)

In [5]:
import mysql.connector as connector
from mysql.connector import Error

In [19]:
# Task One Create a connection connect with your database and interact with the data it holds.
try:
    connection = connector.connect(user = "root",password = "admin")
    print('connection has been made to the database')
except connector.Error:
    print("user or password is incorrect")

connection has been made to the database

In [18]:
# Task Two In this second task, you now need to query the database to show all tables within the database.

cursor = connection.cursor()
print('Created the cursor object to execute the sql queries')

print("DATA BASE NAMES)

showdb_query = "SHOW DATABASES"
cursor.execute(showdb_query)
results = cursor.fetchall()

print(results)

Created the cursor object to execute the sql queries
DATA BASE NAMES
[('gdb023',), ('gdb041',), ('gdb056',), ('global_superstore_db',), ('information_schema',), ('littlelemondb',), ('mangata_galo',), ('mangata_jw_db',), ('mg_schema',), ('moviesdb',), ('mysql',), ('performance_schema',), ('random_tables',), ('sakila',), ('si_db',), ('sys',), ('world',)]

In [10]:
# using littlelemondb database
cursor.execute("use littlelemondb")
print("littlelemondb in use")

littlelemondb in use

In [12]:
# showing all the tables in the selected db littlelemondb

show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
for i in results:
    print(i)

('bookings',)
('category',)
('customers',)
('diningtable',)
('menuitems',)
('orderdeliverystatus',)
('orderitem',)
('orders',)
('ordersview',)
('staff',)

In [15]:
""" Task 3
For the third and final task, Little Lemon need you to return specific details from your database. They require the
full name and contact details for every customer that has placed an order greater than $1050 for a promotional campaign.
"""

query_join = """ SELECT 
    CONCAT(c.first_name," ",c.last_name) as 'Full Name',
    c.email,
    c.phone_number,
    o.total_amount
FROM Customers c
INNER JOIN Orders o
    ON c.Customer_ID = o.Customer_ID
WHERE o.total_amount > 1050;
"""
cursor.execute(query_join)
results = cursor.fetchall()
column = cursor.column_names
print(column)
for i in results:
    print(i)

('Full Name', 'email', 'phone_number', 'total_amount')
('Marcos Romero', 'marcos@example.com', '+1-555-0102', Decimal('1100.00'))
('Aisha Khan', 'aisha@example.com', '+1-555-0103', Decimal('1200.00'))
('Rahul Verma', 'rahul@example.com', '+1-555-0104', Decimal('1300.00'))
('Priya Patel', 'priya@example.com', '+1-555-0105', Decimal('1300.00'))
('John Smith', 'john.smith@example.com', '+1-555-0106', Decimal('1250.00'))
('Sara Ali', 'sara.ali@example.com', '+1-555-0107', Decimal('1650.00'))
('Aman Gupta', 'aman.g@example.com', '+1-555-0108', Decimal('2350.00'))
('Neha Sharma', 'neha.sharma@example.com', '+1-555-0109', Decimal('1450.00'))
('Omar Hassan', 'omar.hassan@example.com', '+1-555-0110', Decimal('1500.00'))
('Emily Davis', 'emily.davis@example.com', '+1-555-0111', Decimal('1200.00'))
('Daniel White', 'daniel.white@example.com', '+1-555-0112', Decimal('1550.00'))
('Lina Costa', 'lina.costa@example.com', '+1-555-0113', Decimal('1600.00'))
('Kevin Brown', 'kevin.brown@example.com', '+1-555-0114', Decimal('2050.00'))
('Nora Lopez', 'nora.lopez@example.com', '+1-555-0115', Decimal('1500.00'))
('Mina Park', 'mina.park@example.com', '+1-555-0116', Decimal('1350.00'))
('Tom Green', 'tom.green@example.com', '+1-555-0117', Decimal('1800.00'))
('Ahmed Said', 'ahmed.said@example.com', '+1-555-0118', Decimal('2000.00'))
('Ivy Lee', 'ivy.lee@example.com', '+1-555-0119', Decimal('2500.00'))